<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<div class="container"
     style="display: flex; flex-direction: column; margin: 10% 15%; align-items: center;">
    <h1>Aeropuerto de Sauce Viejo</h1>
    <h2>Bienvenido</h2>
    <nav style="display: flex; justify-content: center;">
        <a style="margin: 10%; text-align: center;" th:href="@{/vuelosBuscar}">Buscar Vuelos</a>
        <a style="margin: 10%; text-align: center;" th:href="@{/reservas/seleccionar-cliente}">Reservar Vuelo</a>
        <a style="margin: 10%; text-align: center;" th:href="@{/vueloABM}">Crear Vuelos</a>
        <a style="margin: 10%; text-align: center;" th:href="@{/}">Modificar Tasas</a>
    </nav>
</div>
</body>
</html>