<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
</head>
<body>
<h2>Reservas para el cliente con DNI: <label th:text="${dni}"></label></h2>

<!-- Formulario para seleccionar vuelo -->
<form th:action="@{'/reservas/' + ${dni}}" method="get">
    <label for="vuelo">Seleccione un vuelo:</label>
    <select id="vuelo" name="vuelo">
        <option th:each="vuelo : ${allVuelos}" th:value="${vuelo.id}" th:text="${vuelo.numeroVuelo}"></option>
    </select>
    <button type="submit">Aceptar</button>
</form>

<!-- Dropdown de asientos disponibles -->
<div th:if="${idVuelo != null}">
    <h3>Selecciona un asiento para el Vuelo: <label th:text="${idVuelo}"></label></h3>
    <div th:if="${asientosDisponibles.size > 0}">
        <div th:if="${!clienteYaHaReservado}">
            <form th:action="@{'/reservas/' + ${dni} + '/' + ${idVuelo}}" method="post">
                <input type="hidden" name="vuelo" th:value="${idVuelo}" />
                <input type="hidden" name="dni" th:value="${dni}" />
                <select id="asiento" name="asiento">
                    <option th:each="asiento : ${asientosDisponibles}" th:value="${asiento.id}" th:text="'F' + ${asiento.fila} + 'C' + ${asiento.columna}"></option>
                </select>
                <!--<div class="botones">-->
                <input type="submit" name="action" value="Reservar"/>
                <!--<input type="submit" name="action" value="Cancelar"/>
            </div>-->
            </form>
        </div>
        <p>El precio de cada asiento es de $<label th:text="${precio}"></label></p>
        <div th:if="${clienteYaHaReservado}">
            <p>El cliente ya posee una reserva para este vuelo.</p>
            <p>(Escoja otro o cancele...)</p>
        </div>
    </div>
    <div th:if="${asientosDisponibles.size == 0}">
        <p>No hay asientos disponibles para este vuelo</p>
    </div>
</div>

<!--Cancelar operación y volver a página inicial-->
<div>
    <a th:href="@{/}">Cancelar</a>
</div>

</body>
</html>
