<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title><span th:text="#{cliente.buscar.titulo}"></span></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>RESERVAS</h1>
<h3>Ingrese DNI del Cliente para Reservar un Vuelo</h3>
<form th:action="@{/reservas/seleccionar-cliente}" th:object="${formBean}" method="post">
    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
    <div>
        <label th:text="#{cliente.dni}"></label>
        <label>
            <input type="number" th:field="*{dni}"/>
        </label>
        <p th:each="err : ${#fields.errors('dni')}" th:text="${err}" class="error"></p>
    </div>
    <div class="botones">
        <input type="submit" name="action" value="Buscar"/>
        <input type="submit" name="action" value="Cancelar"/>
        <input type="submit" name="action" value="Registrar"/>
    </div>
    <table class="resultados">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Domicilio</th>
            <th>Email</th>
            <th>Fecha de Nacimiento</th>
            <th>Nro Pasaporte</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${resultados}">
            <td th:text="${{p.nombre}}"></td>
            <td th:text="${{p.apellido}}"></td>
            <td th:text="${{p.domicilio}}"></td>
            <td th:text="${{p.email}}"></td>
            <td th:text="${{p.fechaNacimiento}}"></td>
            <td th:text="${{p.pasaporte}}"></td>
            <td>
                <a th:href="@{/reservas/{dni}(dni=${p.dni})}" class="btn btn-primary">
                    Elegir
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>